.dark {
  background: -webkit-linear-gradient(to bottom, #3364df, #7a8090);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(rgba(70, 210, 255, 0.4), #00000000) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.light {
  background: -webkit-linear-gradient(to bottom, #3364df, #7a8090);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(rgba(70, 104, 255, 0.5), #00000000) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.results_container {
  // border-top-left-radius: 1rem;
  // border-top-right-radius: 1rem;
  // display: flex;
}
@media screen and (max-width: 767px) {
  .results_container {
    // flex: .9;
  }
}