.window_container {
  height: 54.1%;
  row-gap: 2.7%;
  width: 57.7%;
  column-gap: 2.5%;
  margin-left: 3.7%;
  background-image: url("/images/home/placeholder3.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  // opacity: 0.1;

  div {
    background: rgba(0, 0, 0, .5);
  }
}