.svg_master_container {
  .dark div  {
    background: url("/images/home/darkgalaxy.jpeg") no-repeat right top fixed; 
    background-size: auto 95%;
  }
  .light div {
    background: url("/images/home/test.jpeg") no-repeat right top fixed;
    background-size: auto 95%;
  }
  > div {
    height: 54.1%;
    row-gap: 2.7%;
    width: 57.7%;
    column-gap: 2.5%;
    margin-left: 3.7%;
    // background-size: cover;
    // background-position: bottom;
    // background-repeat: no-repeat;
    div {
      box-shadow: 0 0 3px rgba(0, 0, 0, .5);
      border-radius: 2px;
      // background-image: url("/images/home/pinkclouds.jpg");
      // background-attachment: fixed;
      // background-repeat: no-repeat;
      // background-size: auto 10%;
    }
  }
  img {
    height: 100%;
    width: clamp(250px, 70vh, 40vw);
  }
  @media (max-width: 639px) {
    img {
      width: 100%;
    }
  }
}
.placeholder1 {
  background: url("/images/home/placeholder1.png") center
}
.placeholder2 {
  background: url("/images/home/placeholder2.png") center
}
.placeholder3 {
  background: url("/images/home/placeholder3.png") center
}
.placeholder {
  background-size: cover;
  width: clamp(25vh, 22vw, 300px);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
@media (max-width: 639px) {
  .placeholder {
    height: 50vh;
    width: clamp(35vh, 40vw, 400px);
    margin-bottom: 20px;
    border-radius: 25px;
  }
}