@keyframes slide-icons {
    0% {
      transform: translate(-3px, 0)
    }
    100% {
      transform: translate(-100%, 0)
    }
}
@keyframes slide-blur {
  0% {
    transform: translate(-3px, 50%)
  }
  100% {
    transform: translate(-100%, 50%)
  }
}
.icon_animation {
  animation: slide-icons 10s infinite linear;
}
.blur_animation {
  animation: slide-blur 10s infinite linear;
}
.icon_container {
  > div {
    flex-shrink: 0;
    margin-left: 1.5rem;
    display: flex;
  }
}
.platform_container {
  > div {
    transform: rotateX(180deg);
    flex-shrink: 0;
    margin-left: 1.5rem;
    display: flex;
    img {
      // transform: scale(0.5);
    }
    > div {
      display: block !important;
    }
  }
}